body {
    font-family: Lora, serif;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background: url('http://ivli.ro/imgWeather/cc.png');
    background-size: cover;
}

.well {
    margin-top: 2em;
    background-color: rgba(100, 100, 100, 0.8);
}

h1,
p {
    color: white;
}

.footer p {
    font-family: sans-serif;
    margin-top: 1em;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.8);
}

a,
a:hover,
a:after {
    text-decoration: none;
    color: inherit;
}